@model IEnumerable<MarqueSeuFut.Models.Agenda>

@{
    ViewData["Title"] = "Index";
}
<br />
<h1>Calendário</h1>
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Data / Hora:    
            </th>
            <th>
                Quadra:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCasa)
            </th>
            <th> 
                @Html.DisplayNameFor(model => model.TimeVisitante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCasa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeVisitante.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
